+article("1. Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli")
  +section("Lecția 1")
    +header("1", "Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli", "Planifică-ți resursele financiare!")
    p Cu cât ştii mai bine ce pot face banii de care dispui, cu atât vei avea mai mult succes în a economisi, planifica şi investi.
    p
      | În Dicționarul Explicativ al Limbii române, la cuvântul 
      em buget 
      |apare următorul text:
    .yellowbox
      p 
        strong buget 
        |– BUGÉT, bugete, s.n. Bilanţ al veniturilor şi cheltuielilor unui stat, ale unei întreprinderi etc. pe o perioadă determinată. • Totalitatea prevederilor de venituri şi cheltuieli ale unei familii sau ale unei persoane pentru o anumită perioadă. 
        br
        |[Var.: (rar) budgét s.n.] – Din fr. budget.
    p 
      |Important în defiiţie este cuvântul 
      strong PREVEDERE
      |.
    p Prevederea modului în care obţii resurse fianciare şi le cheltuieşti pe cele de care dispui la un moment dat se numeşte bugetare.
    p Urmarea unui buget de venituri şi cheltuieli este esenţială pentru a cheltui inteligent banii pe care îi dobândeşti cu dificultate.
    p Un buget este o prevedere, un plan de cheltuire a banilor câştigați.
    +info()
      p.text-uppercase
        strong NU UITA! UN BUGET ÎNSEAMNĂ PREVEDEREA CÂT MAI APROAPE DE REALITATE ȘI A VENITURILOR ȘI A CHELTUIELILOR!
    p
      | De fiecare dată când oamenii calculează dacă au bani suficienţi pentru a cumpăra un anumit lucru sau decid cum să îşi cheltuiască banii, ei exersează procedeele de alcătuire a bugetului, de alocare a cheltuielilor în funcţie de veniturile de care dispun. Un buget cuprinde lista resurselor financiare (
      strong.text-uppercase venituri
      |) şi sume de bani care pot fi folosite pentru diferite categorii de satisfacere a unei nevoi sau a unei dorințe, a unui obiectiv (
      strong.text-uppercase cheltuieli
      |). Trebuie să înţelegeți diferenţa dintre venituri şi cheltuieli, ce categorii pot exista pentru bugetul unei familii, cum să calculaţi sumele de bani care reprezintă veniturile şi cum pot fi cheltuite pentru diferite categorii şi cum nevoile pe care doriţi sau trebuie să le satisfaceți vă afectează deciziile privind alcătuirea bugetului.
    +bluetitle({
      img: "bla.png", 
      title: "Activitate individuală 1"
      })
    p Completaţi cercurile interioare şi exterioare pe măsură ce vă gândiţi şi discutaţi împreună categoriile tipice de buget. Două categorii au fost completate pentru a vă servi ca exemplu.
    h2 FIXME - it's a screenshot
    +drawingpad({backgroundImage: 'img/lectia1-buget-screenshot.png'})
    p Multe familii își alcătuiesc un buget scris care le arată de câți bani dispun lunar și cât de mulţi bani vor cheltui pentru categorii precum chirie, utilităţi, alimente, îmbrăcăminte, divertisment etc. Alte persoane ţin o evidenţă exactă a tuturor cheltuielilor şi veniturilor, ajustând frecvent bugetul. Mulți, însă, au o idee vagă despre destinaţia banilor lor şi ţin un buget orientativ în memorie sau deloc.
    p Bugetele sunt personale şi unice. Există numeroase decizii pe care trebuie să le luăm atunci când alcătuim un buget. Unii oameni aleg să cheltuiască o sumă importantă din banii câştigaţi pentru o maşină nouă, în timp ce alţii aleg o maşină second-hand şi alocă mai mulţi bani pentru haine sau chirie. O parte dintre decizii influenţează şi alte decizii.
    .pull-left.col-sm-4
      img(src='img/l1casa.png')
      h5 FIXME - replace screenshot
    p De exemplu, dacă alegeţi să cumpăraţi o casă mare, atunci şi factura la energie electrică va fi mare. Dacă aveţi foarte multe cheltuieli medicale, atunci probabil că nu veţi mai avea atât de mulţi bani pentru recreere sau vacanţe.
    p Bugetele trebuie să fie flexibile, adică atunci când veniturile unei persoane se schimbă, se modifică şi bugetele. Dacă nu se procedează la ajustarea prevederilor bugetului, există riscul ca atunci când veniturile sunt mai mici și cheltuielile nu se ajustează sau nu pot fi ajustate corespunzător, să nu existe resurse financiare pentru acoperirea lor, sau să trebuiască să faci împrumuturi care, dacă le poţi face, aduc cu ele şi alte cheltuieli.
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală 2",
      subtitle:"Citiţi studiul de caz de mai jos şi răspundeţi la întrebări."
      })
    p Maria face parte dintr-o formaţie instrumentală şi este elevă în clasa a X-a la liceu. Ea are un serviciu cu jumătate de normă (are peste 16 ani, deci poate lucra), lucrând 20 de ore pe săptămână la supermarket pentru 5,15 lei/oră. Venitul ei lunar brut este de 412 lei şi salariul net este de 329,60 lei. În timpul liber, Maria este şi babysitter, uneori, pentru vecina de alături, câştigând aproximativ 60 lei lunar.
    .pull-right.col-sm-3
      +img('img/l1rochie.png')
      h5 FIXME - replace screenshot
    p Părinții ei îi dau pentru cheltuieli lunare (bani de buzunar) 150 lei. În trei săptămâni, Maria va da o petrecere surpriză pentru prietena ei Sara. Această petrecere o va costa 50 lei, dar ea planifică să cumpere şi o rochie nouă pentru petrecere, în valoare de 50 lei, iar cadoul ei pentru Sara va costa 35 lei.
    p Mai trebuie să îşi repare DVD player-ul stricat şi această reparaţie o va costa 79 lei. De asemenea, ea s-a hotărât să înceapă să economisească pentru Crăciun, sărbătoare care va fi peste patru luni şi cu ocazia căreia cheltuieşte de obicei în jur de 150 lei pe cadourile pentru prieteni şi rude.
    p Deşi părinţii au promis că o vor ajuta să îşi plătească taxele de şcolarizare pentru facultate, ea ştie că va trebui să plătească pentru cazare, masă şi cărţi. Camera şi masa o vor costa 650 lei pentru fiecare semestru la o universitate de stat şi cărţile, 300 lei.
    +exnumber(1, "Care este venitul lunar net al Mariei?")
      +exercise({name:"l1ex1", ignoreScore: true})
        .inline-block
          +textline({name:"l1ex1-1", type: "numeric", size:"5", regexp: "^&"})
        span #{" "}lei
    +exnumber(2, "Care este valoarea medie a cheltuielilor lunare făcute de Maria?")
      +exercise({name:"l1ex2", ignoreScore: true})
        .inline-block
          +textline({name:"l1ex2-1", type: "numeric", size:"5", regexp: "^&"})
        span #{" "}lei
    +exnumber(3, "Cu ce sumă de bani rămâne Maria după ce îşi plăteşte cheltuielile lunare?")
      +exercise({name:"l1ex3", ignoreScore: true})
        .inline-block
          +textline({name:"l1ex3-1", type: "numeric", size:"5", regexp: "^&"})
        span #{" "}lei
    +exnumber(4, "Completaţi următorul tabel cu Planificarea obiectivelor.")
      +exercise({name:"l1ex4", ignoreScore:true})
        table.table-4
          thead
            tr
              th Care sunt obiectivele pe termen scurt ale Mariei?
              th Care este obiectivul ei pe termen lung ? (un an)
          tbody
            tr
              td
                +textline({name:"l1ex4-1", type: "multiline", rows:"3", placeholder: '...'})
              td
                +textline({name:"l1ex4-2", type: "multiline", rows:"3", placeholder: '...'})
    +exnumber(5, "Dacă petrecerea pe care Maria o va organiza va costa 135 lei, cu ce sumă de bani va rămâne ea luna aceasta?")
      +exercise({name:"l1ex5",ignoreScore: true})
        .inline-block
          +textline({name:"l1ex5-1", type: "numeric", size:"5", regexp: "^&"})
        span #{" "}lei
    +exnumber(6, "Câţi bani este necesar să economisească Maria în fiecare lună pentru următoarele patru luni ca să aibă suficienţi bani pentru cumpărăturile de Crăciun?")
      +exercise({name:"l1ex6",ignoreScore: true})
        .inline-block
          +textline({name:"l1ex6-1", type: "numeric", size:"5", regexp: "^&"})
        span #{" "}lei
    +exnumber(7, "Completaţi mai jos bugetul lunar al Mariei.")
      +exercise({name:"l1ex7", ignoreScore: true})
        table.table-4
          thead
            tr
              th Venitul lunar net (VLN)
              th
                .inline-block
                  +textline({name:'l1ex7-1', size: "5", type:"numeric", regexp:"^&"})
                span lei
          tbody
            tr
              td Transport
              td
                .inline-block
                  +textline({name:'l1ex7-2', size: "5", type:"numeric", regexp:"^&"})
                span lei
            tr
              td Cheltuieli curente:
              td
                .inline-block
                  +textline({name:'l1ex7-3', size: "5", type:"numeric", regexp:"^&"})
                span lei
            tr
              td ECONOMII pentru cumpărăturile de Crăciun
              td
                .inline-block
                  +textline({name:'l1ex7-4', size: "5", type:"numeric", regexp:"^&"})
                span lei
            tr
              td Cheltuieli totale (Suma costurilor de transport, cheltuielilor curente şi economiilor pentru cheltuielile de Crăciun)
              td
                .inline-block
                  +textline({name:'l1ex7-5', size: "5", type:"numeric", regexp:"^&"})
                span lei
            tr
              td Venit rămas (diferenţa dintre VLN şi cheltuielile totale)
              td
                .inline-block
                  +textline({name:'l1ex7-6', size: "5", type:"numeric", regexp:"^&"})
                span lei
    +exnumber(8, "Ce sumă de bani îi va rămâne Mariei în această lună după ce şi-a plătit cheltuielile, a economisit pentru Crăciun şi a organizat petrecerea pentru Sara?")
      +exercise({name:'l1ex8', ignoreScore: true})
        .inline-block
          +textline({name:'l1ex8-1', size: '5', type: 'numeric', regexp:'^&'})
        span #{" "}lei
    +exnumber(9, "Câţi bani credeţi că va trebui să economisească Maria în fiecare lună, pentru a-şi atinge obiectivul pe termen lung?")
      +exercise({name:'l1ex9', ignoreScore: true})
        .inline-block
          +textline({name:'l1ex9-1', size: '5', type: 'numeric', regexp:'^&'})
        span #{" "}lei
    p Mai devreme sau mai târziu va trebui să vă planificaţi bugetul personal. Învăţând despre modul în care dobândiți veniturile, resursele financiare (de unde vă vin banii și câți) și categoriile uzuale de cheltuieli care sunt incluse în majoritatea bugetelor personale şi despre procentele din venit pe care oamenii le alocă acestor categorii, vă va ajuta mai târziu. Pentru a vă asigura un viitor financiar sigur, anticiparea veniturilor și cheltuielilor şi planificarea lor este obligatorie. Alcătuirea unui buget este o parte deosebit de importantă a acestei planificări. Un buget este schiţarea veniturilor şi cheltuielilor planificate pentru o perioadă de timp specificată.
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală 3",
      subtitle:"Planul de cheltuieli"
      })
    p
      em
        strong Instrucţiuni: 
        |Pentru a plăti echivalentul realizării unei nevoi, a unui obiectiv pe termen lung, o persoană trebuie să economisească lunar o anumită sumă de bani. Ce reguli de bugetare aţi putea aplica în cazul următorului buget pentru a atinge obiectivul de a economisi 300 lei pe lună?
    p Notaţi în spaţiul de mai jos trei reguli propuse individual şi trei reguli descoperite împreună cu colegii.
    +exercise({name:'l1ex10', ignoreScore: true})
      +textline({name:'l1ex10-1', rows: '10', type: 'multiline', placeholder: '.....'})
      table
        tr
          th Venit
          th Înainte
          th După
        tr
          th Venituri totale
          td 1.500 lei
          td 1.500 lei
        tr
          th Cheltuieli fixe
          td
          td
        tr
          td Chirie pentru locuință
          td 500 lei
          td 500 lei
        tr
          td Asigurare de sănătate
          td 50 lei
          td 50 lei
        tr
          td Asigurarea locuinței
          td 100 lei
          td 20 lei
        tr
          td Asigurarea auto
          td 50 lei
          td 100 lei
        tr
          th Economii planificate (oprite automat din salariu)
          td 100 lei
          td
            .inline-block 
              +textline({name:'l1ex10-2', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          th Cheltuieli fixe totale
          td 770 lei
          td 
            .inline-block 
              +textline({name:'l1ex10-3', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          th Cheltuieli variabile
          td
          td
        tr
          td Alimente
          td 165 lei
          td
            .inline-block 
              +textline({name:'l1ex10-4', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Masa în oraș
          td 55 lei
          td
            .inline-block 
              +textline({name:'l1ex10-5', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Utilităţi
          td 105 lei
          td
            .inline-block 
              +textline({name:'l1ex10-6', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Medicale
          td 40 lei
          td
            .inline-block 
              +textline({name:'l1ex10-7', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Îmbrăcăminte
          td 30 lei
          td
            .inline-block 
              +textline({name:'l1ex10-8', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Cadouri
          td 30 lei
          td
            .inline-block 
              +textline({name:'l1ex10-9', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Cărți, reviste și ziare
          td 40 lei
          td
            .inline-block 
              +textline({name:'l1ex10-10', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Mobilarea și dotarea casei
          td 40 lei
          td
            .inline-block 
              +textline({name:'l1ex10-11', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Îngrijire personală
          td 30 lei
          td
            .inline-block 
              +textline({name:'l1ex10-12', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Timp liber
          td 50 lei
          td
            .inline-block 
              +textline({name:'l1ex10-13', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Card bancar
          td 30 lei
          td
            .inline-block 
              +textline({name:'l1ex10-14', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          td Diverse/personale
          td 35 lei
          td
            .inline-block 
              +textline({name:'l1ex10-15', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          th Cheltuieli variabile totale
          td 730 lei
          td
            .inline-block 
              +textline({name:'l1ex10-16', type: 'numeric', size: '5'})
            span #{" "} lei
        tr
          th Cheltuieli totale
          td 1.500 lei
          td
            .inline-block 
              +textline({name:'l1ex10-17', type: 'numeric', size: '5'})
            span #{" "} lei
    p Ori de câte ori trebuie să planificaţi modul în care veţi cheltui banii, lucraţi cu bugete. Pe măsură ce vă veţi asuma mai multe responsabilităţi – un job, o maşină, o casă în care să locuiţi, animale, proprietăţi şi o familie – veţi avea nevoie să determinaţi câţi bani veţi cheltui pentru a acoperi fiecare categorie de cheltuieli, în funcție de câți bani veți avea ca venituri. În vederea pregătirii pentru aceste viitoare responsabilităţi, veţi exersa alcătuirea bugetului unei familii în timpul acestor ore de curs.
    h3.titlu Activități suplimentare
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală"
      })
    p Întrebați părinţii:
    ul
      li Se întâmplă frecvent să rămâi fără bani la câteva zile după ce ai încasat salariul?
      li Ţi se întâmplă ca la sfârşitul lunii că nu ştii pe ce ai cheltuit banii?
      li Te-ai obişnuit să contractezi un credit pentru cumpărături de valoare mai mare?
    p Dacă răspunsul lor la întrebările de mai sus este “Da”, înseamnă că a sosit momentul să facă o schimbare. Fiecare trebuie să înveţe să îşi întocmească un buget!
    +info()
      strong
        p În primul rând este important să înveţi să deţii controlul propriilor finanţe.
        ul
          li Planifică adecvat utilizarea banilor şi vei putea privi mai încrezător spre viitor.
          li Hotărăşte pentru ce anume vrei să economiseşti.
          li Analizează-ţi veniturile şi cheltuielile lunare.
          li Învaţă să reduci din cheltuieli.
    p Definirea nevoilor, dorințelor, a obiectivelor este esenţială în procesul de gestionare a banilor. Obiectivele tale financiare trebuie să fie specifice, măsurabile, realiste şi posibil a fi făcute într-un timp dat (SMART).
    p Pentru a-ţi putea controla finanţele, trebuie să-ţi cunoşti nevoile şi dorinţele şi să faci diferenţa între ele!
    p Nevoile sunt lucruri de bază, peste care nu poţi trece (hrana, locuinţa etc.). Dorinţele sunt lucrurile pe care am dori să le avem, dar care nu sunt neapărat necesare.
    p Analiza și clarificarea nevoilor și dorințelor ne ajută să ne stabilim obiectivele și apoi să întocmim lista cheltuielilor financiare.
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală"
      })
    p Discută în familie şi împreună stabiliţi care sunt priorităţile tale pentru anul acesta.
    p După aceea construiește un buget lunar de venituri și cheltuieli. Împărtăşeşte cu părinții tăi.
    p Cu cât construieşti mai repede un buget lunar bine definit, cu atât mai repede vei putea reduce cheltuielile inutile şi vei reuşi să nu cheltui mai multe resurse financiare decât ai şi chiar să faci economii.
    +exercise({name:'l1ex11', ignoreScore: true})
      +textline({name:'l1ex11-1', rows: '10', type: 'multiline', placeholder: '.....'})
    h3.bluetitle Exerciţiu de lucru pentru acasă
    p Analizează veniturile şi cheltuielile lunare ale familiei tale!
    +bluetitle({
      title:"Model de realizare a bugetului lunar",
      subtitle: "Pasul 1 - Categoriile principale ale bugetului lunar: venituri și cheltuieli."
      })
    p Construieşte bugetul de venituri și cheltuieli pentru perioada ce urmează încasării veniturilor (salariu fix, salariu din activităţi suplimentare, venituri din închirieri, alte venituri) până la următorul termen de încasare a banilor. Nu cheltui niciun ban până nu stabileşti acest buget. Listează cât mai corect sursele de venit, atât pe cele fixe cât și pe cele periodice.
    +bluetitle({
      subtitle: "Pasul 2 - Listarea cheltuielilor lunare"
      })
    p Fă o listă cu cheltuielile regulate, pe o lună, ale familiei tale (pentru unele dintre cheltuieli se primesc facturi de la cei care furnizează serviciile, pentru altele se primesc înştiinţări de plată, extrase de cont în care este prevăzută suma de plată minimă de plată pentru luna/ perioada respectivă):
    ul
      li chirie/rată la creditul imobiliar,
      li alte rate (card de credit, credit nevoi personale etc.),
      li asigurări (RCA, casco, locuinţă etc.),
      li utilităţi (energie, întreţinere locuinţă, apă, gunoi, telefon, internet, cablu etc),
      li transport (combustibil, revizia periodică, abonament transport public etc.),
      li taxe şcolare,
      li alimente,
      li medicamente,
      li îmbrăcăminte,
      li dotări şi consumabile pentru casă (mobilier, electronice, consumabile etc.) ,
      li reparaţii, service,
      li alte cheltuieli (cu cât lista de cheltuieli este mai bine alcătuită, cu atât posibilitatea de a evita cheltuieli neprevăzute este mai mare).
    +bluetitle({
      subtitle: "Pasul 3 - Înregistrarea sumelor de plată"
      })
    p Anticipează cât va trebui să plătiți pentru fiecare în parte şi notează valoarea în dreptul categoriei “Cheltuieli”. Află cât aţi plătit în luna precedentă. 
    +bluetitle({
      subtitle: "Pasul 4 - Compară veniturile cu cheltuielile"
      })
    p Adună toate aceste valori (pe care le poţi numi cheltuieli regulate) şi scade suma rezultată din venitul lunar.
    p Ai obţinut o valoare negativă?
    p Identifică împreună cu unul dintre părinți, 3 soluţii pentru a rezolva această problemă şi a avea un buget echilibrat. Analizează avantajele şi dezavantajele, costurile pe care le implică fiecare soluţie.
    p Ai obţinut o valoare pozitivă?
    p Gândește-te cum vei aloca aceste sume rămase după acoperirea cheltuielilor lunare regulate:
    +info()
      p
        strong SFATURI pentru a avea un buget echilibrat:
      ul
        li Rezerve: 10-20% din valoarea cheltuielilor regulate. Sunt pentru cazul în care acestea sunt mai mari decât ai anticipat.
        li Cheltuieli neprevăzute: cel puţin 10% din venitul tău lunar. Nu apar lunar, dar îţi pot destabiliza bugetul, dacă nu eşti pregătit.
        li Economii: ceea ce rămâne după ce scazi din venitul lunar, valoarea rezervelor şi a cheltuielilor. Acestea ar trebui să reprezinte cel puţin 5-10% din valoarea venitului lunar.
    .bluebox
      strong
        p Atenţie!
        p Sub nicio formă nu trebuie să cheltuieşti pe altceva banii cărora le-ai stabilit destinaţii precise, decât în situații excepționale, justificate.
    +bluetitle({
      subtitle: "Pasul 5 - Evidenţa zilnică a cheltuielilor"
      })
    p Urmăreşte-ţi bugetul lunar prin notarea zilnică a cheltuielilor. Te va ajuta să devii conştient de modul în care cheltuieşti banii. Astfel vei putea ajusta aceste cheltuieli şi vei avea un control mai bun asupra disponibilităţilor financiare personale.
    +bluetitle({
      img: "bla.png",
      title:"Un exemplu orientativ de buget al unei familii"
      })
    p Valorile pot varia semnificativ în funcţie de intervalul de venit, tipul de gospodărie etc.
    table.table-1
      thead
        tr
          th Tip cheltuieli
          th Pondere din totalul de cheltuieli
      tbody
        tr
          td Datorii financiare (rate, CAR, pensie alimentară)
          td 20 - 30%
        tr
          td Cheltuieli cu casa (inclusiv utilităţi)
          td 10 - 20%
        tr
          td Alimente
          td 20 - 25%
        tr
          td Transport
          td 5%
        tr
          td Telefon
          td 3 - 5%
        tr
          td Diverse (îmbrăcăminte, social, sănătate, etc.)
          td 5 - 10%
        tr
          td Economii
          td 5 - 10%
    p Pentru adulți, băncile oferă consiliere, la care pot apela şi pot defini un plan de economisire regulată pentru atingerea obiectivelor propuse.
    p Urmăreşte bugetul pe care l-ai construit! Cea mai eficientă metodă este să îţi notezi în fiecare zi pe ce ai cheltuit banii. Nu te limita doar la cheltuielile curente. Notează orice sumă cheltuită, oricât de mică.
    p Este important să faci acest exerciţiu cel puţin trei luni la rând.
    p În felul acesta îţi vei da seama cât de corect ai estimat cheltuielile curente şi pe ce ai cheltuit diferenţa de bani. Acesta este punctul din care începi să analizezi posibilităţile de a-ţi reduce cheltuielile și a face economii pentru obiective viitoare.
    +bluetitle({
      img: "bla.png",
      title:"Învaţă să reduci din cheltuieli"
      })
    +info()
      strong
        p.text-uppercase Important
        p Nu îţi propune să reduci doar anumite categorii de cheltuieli. Analizează-le pe toate. De asemenea, nu îţi propune să reduci brusc, cu sume foarte mari.
    +bluetitle({
      subtitle:"Câteva recomandări pentru reducerea diverselor tipuri de cheltuieli"
      })
    ol(type="1")
      li Constaţi că de fiecare dată când te duci la cumpărături te întorci cu o mulţime de lucruri pe care nu ai intenţionat să le cumperi şi cu un bon de casă foarte lung?
        ol(type="a")
          li Mergi la cumpărături cu o listă şi evită să cheltuieşti în afara ei.
          li Evită magazinele care te atrag de obicei.
          li Dacă doreşti să cumperi ceva neplanificat, aşteaptă 24 de ore înainte de a face achiziţia. S-ar putea să constaţi că nu ai nevoie de acel lucru.
      li Ţi se pare că facturile de utilităţi sunt prea mari în raport cu cât consumi tu?
        ol(type="a")
          li Stinge lumina când nu te afli în cameră şi închide calculatorul, radioul sau televizorul când nu le foloseşti; foloseşte lumina naturală pentru iluminat până la apusul soarelui.
          li  Chiar ai nevoie de toate cele 100 de canale TV, mai ales că nici nu ai prea mult timp liber? Alege pachetul de bază.
          li  Alege abonamentul de telefonie cu opţiunile care îţi sunt cu adevărat utile.
          li Nu lăsa centrala de căldură să funcţioneze dacă nu eşti acasă. Programeaz-o să pornească cu o oră înainte de sosirea ta. În cazul în care nu ai centrală proprie, montează repartitoare pe fiecare calorifer pentru a gestiona căldura din încăpere în funcţie de necesităţi. Astfel vei putea reduce şi cheltuielile pentru încălzire.
      li Cheltuieşti prea mulţi bani pe alimente?
        ol(type="a")
          li Consumă alimente de sezon.
          li Cumpără alimente proaspete şi învaţă să le găteşti acasă; nu mai mânca la restaurant sau fast-food.
          li Găteşte atât cât consumi; e bine ca masa să fie îmbelşugată, dar să arunci mâncare înseamnă risipă.
          li Ia-ţi pachet la serviciu pentru masa de prânz, în loc să comanzi.
      li Benzina pentru maşină te costă prea mult?
        ol(type="a")
          li Cumpără-ţi un abonament pentru transportul în comun; contribui la reducerea poluării şi economiseşti.
          li Nu folosi maşina pentru deplasările foarte scurte; alege mersul pe jos şi în felul acesta faci şi exerciţii fizice.
      li
        | Întârzii cu plata ratelor la credite sau carduri, deşi nu ai dificultăţi financiare ?
        p Dacă ai uitat când ai avut scadenţa, acumulezi penalizări, ceea ce va face ca valoarea plătită să fie mai mare.
        p Marchează vizibil data plăţii ratelor în calendarul de pe perete sau în cel din telefonul mobil.
      li
        | Ai mai multe credite în derulare?
        p Contactează banca pentru a vedea în ce măsură există posibilitatea unificării creditelor într-unul singur, astfel încât rata lunară de plată să fie mai mică.
    +bluetitle({
      img: "bla.png",
      title:"Exerciţiu de lucru pentru acasă"
      })
    p Gândeşte-te ce cheltuieli tu şi familia ta aţi putea să reduceţi. Discută cu familia şi împărtăşeste colegilor concluziile tale, dacă dorești!
    +footer()