mixin header(number, title, subtitle) 
  .header
    .row-fluid
      .col-sm-9
        .line
          .lectie Lecția #{number}
        h2
      .col-sm-3.hidden-xs.image
        img(src='http://lorempixel.com/300/200/')
    h2
      strong #{title}
    h3
      strong #{subtitle}

mixin info()
  if block
    .yellowbox.info
      img(src="img/kitten.jpg")
      block
mixin bluetitle(options)
  .blue-title
    if (options.img)
      img(src="img/"+options.img)
      //- div
      span
        h4= options.title
        if(options.subtitle)
          h6= options.subtitle
    else
      h4= options.title
      if(options.subtitle)
        h6= options.subtitle
  //- .blue-title
  //-   if (options.img)
  //-     .media
  //-       .media-left
  //-         a(href="#")
  //-           img.media-object(src="img/"+options.img)
  //-       .media-body
  //-         h4.media-heading= options.title
  //-         if(options.subtitle)
  //-           h6= options.subtitle
  //-   else
  //-     .media
  //-       .media-body
  //-         h4.media-heading= options.title
  //-         if(options.subtitle)
  //-           h6= options.subtitle


mixin exnumber(number,requirement)
  .ex-number
    .row
      .col-xs-2 
        .ex-icon= number
      .col-xs-10
        if (requirement)
          .ex-requirement= requirement
          .ex-content
            block
        else
          
          .ex-content
            block
